<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marcelkawskiuves">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ValenbisiApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".BikeStationsList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BikeStationDetails"/>
        <activity android:name=".BikeStationReport"/>
    </application>
</manifest>
